<section class="container py-2">
    <pay-section-title title="Datos de contacto" location="interior"></pay-section-title>
    <div class="justify-content-start passenger-contact row pb-4">
        <div class="col-12 col-md-4 py-2 py-md-0">
            <input class="form-control d-none" type="text" id="emergency-name" placeholder="Nombre y Apellidos" />
            <span>Isabel Rodriguez</span>
            <span class="span-validation d-none">Nombre obligatorio</span>
        </div>
        <div class="col-12 col-md-4 py-2 py-md-0 text-md-center">
            <input class="form-control d-none" type="text" placeholder="E-mail" />
            <span>mail@ejemplo.com</span>
            <span class="span-validation d-none">E-mail obligatorio</span>
        </div>
        <div class="col-12 col-md-4 py-2 py-md-0">
            <div class="form-row p-0">
                <div class="col-xl-4 col-lg-5 col-4 col-sm-5 px-1 d-none">
                    <select class="custom-select">
                        <option selected>+34</option>
                        <option value="1">+34 España</option>
                        <option value="2">+44 Reino Unido</option>
                        <option value="2">+49 Alemania</option>
                        <option value="2">+33 Francia</option>
                        <option value="2">+39 Italia</option>
                    </select>
                    
                    <span class="span-validation d-none">Prefijo obligatorio</span>
                </div>
                <div class="col px-1 d-none">
                    <input class="form-control d-none" type="text" placeholder="Teléfono" />
                    <span>654654654</span>
                    <span class="span-validation d-none">Teléfono obligatorio</span>
                </div>
                <div class="col-auto text-md-right ml-md-auto pr-md-4 mr-md-2">
                    <span class="mr-2">+34</span>
                    <span>654654654</span>
                </div>
            </div>
        </div>
    </div>
</section>

