<section class="container py-2">
    <pay-section-title title="Equipaje facturado" location="interior"></pay-section-title>

    <div class="row mb-4">
        <div class="col-12 text-center">
            <img src="../../../assets/img/equipajes.jpg" alt="" class="img-fluid my-4" width="500px">
        </div>
        <div class="col-12 col-lg">
            <p>Dimensiones máximas del equipaje en bodega: la suma de largo + ancho + alto de cada pieza no
            debe superar los 158 cm incluyendo el asa, bolsillo y suedas (salvo equipajes especiales).</p>
            <p>Debido a la alta ocupación en nuestros vuelos, es posible que tu equipaje de mano sea facturado en bodega sin ningún coste adicional. Si viajas sin equipaje de mano y colocas tus accesorios personales bajo el asiento delanter, te asegurarás embarcar de forma preferente. Gracias por tu colaboración, nos ayuda a llevarte puntualmente a tu destino.</p>
        </div>
    </div>

</section>