<section class="ancillary-section">
    <div class="container">
        <div class="i2-modulo align-items-center row">
            <div class="col-auto icono-modulo">
                <pay-svg name="{{type}}"></pay-svg>
            </div>
            <div class="col">
                <h4 class="text-uppercase">{{title}}</h4>
                <span class="d-lg-none">subtitle corto</span>
                <span class="only-cki d-none d-lg-block">{{text}}</span>
                <!-- <span class="only-cki d-none d-lg-block">subtitle añadido</span> -->
            </div>
            <div class="col-4 col-sm-5 col-lg-4 d-none d-sm-block">
                <button type="button" class="form-control btn-primario text-uppercase">
                    {{button}}
                </button>
            </div>
        </div>
    </div>
</section>