<pay-flight-title fare="express" journey="SCQ-TCI" flightNumber="I33340" beeperId="N26345" op="Iberia Express"
    fromDate="12/01/2020 8:30" toDate="12/01/2020 14:00" fromCity="Santiago de Compostela" toCity="Tenerife">
</pay-flight-title>
<pay-conex-info></pay-conex-info>

<!-- INICIO RT-->
<pay-flight-title fare="express" journey="TCI-SCQ" flightNumber="I23320" beeperId="N36342" op="Iberia Express"
    fromDate="15/01/2020 10:30" toDate="15/01/2020 18:30" fromCity="Tenerife" toCity="Santiago de Compostela">
</pay-flight-title>
<pay-conex-info></pay-conex-info>