@import '../../../assets/scss/var.scss';

pay-svg {
    fill: $i2-red-color;
    max-width: 25px;
    max-height: 25px;
}
span {
    line-height: 30px;
    &:after {
        content: ">";
        display: inline-block;
        transition: $i2-transition;
      }
      &:hover {
        &:after {
          transform: translateX(-6px);
        }
      }
}