<section class="container py-2">
    <pay-section-title title="Información de tu interés" location="interior"></pay-section-title>

    <div class="row pb-4">
        <div class="col-lg col-sm-6 col-12 my-2 my-lg-0">
            <a class="d-flex" href="">
                <pay-svg name="hora_limite"></pay-svg>
                <span class="pl-2">Hora límite ></span>
            </a>
        </div>
        <div class="col-lg col-sm-6 col-12 my-2 my-lg-0">
            <a class="d-flex" href="">
                <pay-svg name="documentacion"></pay-svg>
                <span class="pl-2">Documentación ></span>
            </a>
        </div>
        <div class="col-lg col-sm-6 col-12 my-2 my-lg-0">
            <a class="d-flex" href="">
                <pay-svg name="equipaje_mano"></pay-svg>
                <span class="pl-2">Equipaje de mano ></span>
            </a>
        </div>
        <div class="col-lg col-sm-6 col-12 my-2 my-lg-0">
            <a class="d-flex" href="">
                <pay-svg name="equipaje_facturado"></pay-svg>
                <span class="pl-2">Equipaje facturado ></span>
            </a>
        </div>
    </div>
</section>