<section class="container py-2">
    <pay-section-title title="Iberia Express resuelve tus dudas" location="interior"></pay-section-title>

    <div class="row">
        <div class="col">
            Si tienes alguna pregunta y no la encuentras ponte en contacto con nosotros a través de <a href="https://twitter.com/iberiaexpress">Twitter</a>, <a href="https://www.facebook.com/IberiaExpress">Facebook</a> o nuestro <a href="https://www.iberiaexpress.com/informacion-general/contacto/atencion-cliente">Centro de Atención al Cliente</a>.
        </div>
    </div>
</section>