<div class="fd-conex_ow">
    <div>
        <span class="fd-c-ow">{{origin}}</span>
        <span class="fd-c-time">{{originTime}}h</span>
        <span class="separator">-</span>
        <span class="fd-c-ow">{{destination}}</span>
        <span class="fd-c-time">{{destinationTime}}h</span>
    </div>
    <div class="fd-c-airline">Vuelo {{flight}}
        <span class="yf-flight_favicon">
            <pay-svg [name]="icon" class="airline-op i2-op is-this-airline"></pay-svg>
        </span>
        Operado por {{operator}}</div>
</div>