<div class="flight-resume-modal container mt-4">

    <pay-section-title title="Tu compra" location="interior"></pay-section-title>

    <!-- INICIO PRIMER PASAJERO -->
    <div class="frm-tc">
        <div class="row colapse-ida-vuelta align-items-center" data-toggle="collapse" data-target="#frm-tc_pass1">
            <div class="col passenger-name-col">
                Elvis Zambrano
            </div>
            <div class="col text-center d-none d-md-block">
                Tarjeta Fidelización <span>0000000000</span>
            </div>
            <div class="col text-center d-none d-md-block">
                Nº billete <span>060-23015928374</span>
            </div>
            <div class="frm-pass-price col">
                86,23€
            </div>
            <div class="text-right nav-accordion-icon col col-md-auto"></div>
        </div>

        <div class="row show" id="frm-tc_pass1">
            <!-- VERSION DESKTOP -->
            <div class="col d-none d-md-block">
                <div class="row frm-titles">
                    <div class="col-4"></div>
                    <div class="col text-right">IDA</div>
                    <div class="col text-right">VUELTA</div>
                    <div class="col last-title-col">PRECIO</div>
                </div>
                <div class="row flight-row">
                    <div class="col-4">TARIFA ADULTO</div>
                    <div class="col text-right">12,35€</div>
                    <div class="col text-right">14,25€</div>
                    <div class="col last-price-col">10,00€</div>
                </div>
                <div class="row flight-row">
                    <div class="col-4">DESCUENTO CLUB</div>
                    <div class="col text-right">-10,25€</div>
                    <div class="col text-right">-11,12€</div>
                    <div class="col last-price-col">-9,50€</div>
                </div>
                <div class="row flight-row">
                    <div class="col-4">TASAS AEROPORTUARIAS</div>
                    <div class="col text-right">10,25€</div>
                    <div class="col text-right">11,12€</div>
                    <div class="col last-price-col">9,50€</div>
                </div>
                <div class="row ancillary-row">
                    <div class="col-4">ASIENTO</div>
                    <div class="col text-right">12,35€<span>25A - 24B</span></div>
                    <div class="col text-right">14,25€<span>25A - 24B</span></div>
                    <div class="col last-price-col">10,00€</div>
                </div>
                <div class="row ancillary-row">
                    <div class="col-4">MALETA</div>
                    <div class="col text-right">10,25€<span>2 maletas</span></div>
                    <div class="col text-right">11,12€<span>2 maletas</span></div>
                    <div class="col last-price-col">9,50€</div>
                </div>
                <div class="row ancillary-row">
                    <div class="col-4">PRIORITY</div>
                    <div class="col text-right">10,25€<span>MAD-TFS</span></div>
                    <div class="col text-right">11,12€<span>TFS-MAD</span></div>
                    <div class="col last-price-col">9,50€</div>
                </div>
                <div class="row ancillary-row">
                    <div class="col-4 ar-upgrade">SEGURO</div>
                    <div class="col text-right">-</div>
                    <div class="col text-right">-</div>
                    <div class="col last-price-col">111,12€</div>
                </div>

            </div>
            <!-- FIN VERSION DESKTOP -->
            <!-- VERSION MOBILE -->
            <div class="col d-block d-md-none">
                <div class="row mt-4 pass-row">
                    <div class="col">
                        Tarjeta Fidelización <span>0000000000</span>
                    </div>
                </div>
                <div class="row pass-row">
                    <div class="col">
                        Nº billete <span>060-23015928374</span>
                    </div>
                </div>
                <div class="row fr_title_mobile">
                    <div class="col">TARIFA ADULTO</div>
                </div>
                <div class="row flight-row">
                    <div class="col-6 flight-segment">IDA</div>
                    <div class="col-6 text-right">12,35€</div>
                    <div class="col-6 flight-segment">VUELTA</div>
                    <div class="col-6 text-right">10,00€</div>
                </div>
                <div class="row fr_title_mobile">
                    <div class="col">DESCUENTO CLUB</div>
                </div>
                <div class="row flight-row">
                    <div class="col-6 flight-segment">IDA</div>
                    <div class="col-6 text-right">12,35€</div>
                    <div class="col-6 flight-segment">VUELTA</div>
                    <div class="col-6 text-right">10,00€</div>
                </div>
                <div class="frm-seat">
                    <div class="row fr_title_mobile">
                        <div class="col">ASIENTO</div>
                    </div>
                    <div class="row ancillary-row">
                        <div class="col flight-segment">IDA</div>
                        <span class="col text-right">25A - 24B</span>
                        <div class="col col-auto text-right">12,35€</div>
                    </div>
                    <div class="row ancillary-row">
                        <div class="col flight-segment">VUELTA</div>
                        <span class="col text-right">25A - 24B</span>
                        <div class="col col-auto text-right">10,00€</div>
                    </div>
                </div>
                <div class="frm-suitcase">
                    <div class="row fr_title_mobile">
                        <div class="col">MALETA</div>
                    </div>
                    <div class="row ancillary-row">
                        <div class="col flight-segment">IDA</div>
                        <span class="col text-right">1 maleta</span>
                        <div class="col col-auto text-right">12,35€</div>
                    </div>
                    <div class="row ancillary-row">
                        <div class="col flight-segment">VUELTA</div>
                        <span class="col text-right">2 maletas</span>
                        <div class="col col-auto text-right">10,00€</div>
                    </div>
                </div>
                <div class="row fr_title_mobile">
                    <div class="col">SEGURO</div>
                    <div class="col col-auto text-right insurance-price">10,00€</div>
                </div>
            </div>
            <!-- FIN VERSION MOBILE -->
        </div>
        <!-- FIN PRIMER PASAJERO -->
    </div>
    <!-- FIN PRIMER PASAJERO -->

    <!-- INICIO SEGUNDO PASAJERO -->
    <div class="frm-tc">
        <div class="row colapse-ida-vuelta align-items-center collapsed" data-toggle="collapse" data-target="#frm-tc_pass2">
            <div class="col passenger-name-col">
                Isabel Rodríguez
            </div>
            <div class="col text-center d-none d-md-block">
                Tarjeta Fidelización <span>0000000000</span>
            </div>
            <div class="col text-center d-none d-md-block">
                Nº billete <span>060-23015928374</span>
            </div>
            <div class="frm-pass-price col">
                86,23€
            </div>
            <div class="text-right nav-accordion-icon col col-md-auto"></div>
        </div>

        <div class="row collapse" id="frm-tc_pass2">
            <!-- VERSION DESKTOP -->
            <div class="col d-none d-md-block">
                <div class="row frm-titles">
                    <div class="col-4"></div>
                    <div class="col text-right">IDA</div>
                    <div class="col text-right">VUELTA</div>
                    <div class="col last-title-col">PRECIO</div>
                </div>
                <div class="row flight-row">
                    <div class="col-4">TARIFA ADULTO</div>
                    <div class="col text-right">12,35€</div>
                    <div class="col text-right">14,25€</div>
                    <div class="col last-price-col">10,00€</div>
                </div>
                <div class="row flight-row">
                    <div class="col-4">DESCUENTO CLUB</div>
                    <div class="col text-right">-10,25€</div>
                    <div class="col text-right">-11,12€</div>
                    <div class="col last-price-col">-9,50€</div>
                </div>
                <div class="row flight-row">
                    <div class="col-4">TASAS AEROPORTUARIAS</div>
                    <div class="col text-right">10,25€</div>
                    <div class="col text-right">11,12€</div>
                    <div class="col last-price-col">9,50€</div>
                </div>
                <div class="row ancillary-row">
                    <div class="col-4">ASIENTO</div>
                    <div class="col text-right">12,35€<span>25A - 24B</span></div>
                    <div class="col text-right">14,25€<span>25A - 24B</span></div>
                    <div class="col last-price-col">10,00€</div>
                </div>
                <div class="row ancillary-row">
                    <div class="col-4">MALETA</div>
                    <div class="col text-right">10,25€<span>2 maletas</span></div>
                    <div class="col text-right">11,12€<span>2 maletas</span></div>
                    <div class="col last-price-col">9,50€</div>
                </div>
                <div class="row ancillary-row">
                    <div class="col-4">PRIORITY</div>
                    <div class="col text-right">10,25€<span>MAD-TFS</span></div>
                    <div class="col text-right">11,12€<span>TFS-MAD</span></div>
                    <div class="col last-price-col">9,50€</div>
                </div>
                <div class="row ancillary-row">
                    <div class="col-4 ar-upgrade">SEGURO</div>
                    <div class="col text-right">-</div>
                    <div class="col text-right">-</div>
                    <div class="col last-price-col">111,12€</div>
                </div>

            </div>
            <!-- FIN VERSION DESKTOP -->
            <!-- VERSION MOBILE -->
            <div class="col d-block d-md-none">
                <div class="row mt-4 pass-row">
                    <div class="col">
                        Tarjeta Fidelización <span>0000000000</span>
                    </div>
                </div>
                <div class="row pass-row">
                    <div class="col">
                        Nº billete <span>060-23015928374</span>
                    </div>
                </div>
                <div class="row fr_title_mobile">
                    <div class="col">TARIFA ADULTO</div>
                </div>
                <div class="row flight-row">
                    <div class="col-6 flight-segment">IDA</div>
                    <div class="col-6 text-right">12,35€</div>
                    <div class="col-6 flight-segment">VUELTA</div>
                    <div class="col-6 text-right">10,00€</div>
                </div>
                <div class="row fr_title_mobile">
                    <div class="col">DESCUENTO CLUB</div>
                </div>
                <div class="row flight-row">
                    <div class="col-6 flight-segment">IDA</div>
                    <div class="col-6 text-right">12,35€</div>
                    <div class="col-6 flight-segment">VUELTA</div>
                    <div class="col-6 text-right">10,00€</div>
                </div>
                <div class="frm-seat">
                    <div class="row fr_title_mobile">
                        <div class="col">ASIENTO</div>
                    </div>
                    <div class="row ancillary-row">
                        <div class="col flight-segment">IDA</div>
                        <span class="col text-right">25A - 24B</span>
                        <div class="col col-auto text-right">12,35€</div>
                    </div>
                    <div class="row ancillary-row">
                        <div class="col flight-segment">VUELTA</div>
                        <span class="col text-right">25A - 24B</span>
                        <div class="col col-auto text-right">10,00€</div>
                    </div>
                </div>
                <div class="frm-suitcase">
                    <div class="row fr_title_mobile">
                        <div class="col">MALETA</div>
                    </div>
                    <div class="row ancillary-row">
                        <div class="col flight-segment">IDA</div>
                        <span class="col text-right">1 maleta</span>
                        <div class="col col-auto text-right">12,35€</div>
                    </div>
                    <div class="row ancillary-row">
                        <div class="col flight-segment">VUELTA</div>
                        <span class="col text-right">2 maletas</span>
                        <div class="col col-auto text-right">10,00€</div>
                    </div>
                </div>
                <div class="row fr_title_mobile">
                    <div class="col">SEGURO</div>
                    <div class="col col-auto text-right insurance-price">10,00€</div>
                </div>
            </div>
            <!-- FIN VERSION MOBILE -->
        </div>

    </div>
    <!-- FIN SEGUNDO PASAJERO -->

    <!-- INICIO TOTAL -->
    <div class="frm-tc">
        <div class="row frm-totals">
            <div class="col">TOTAL</div>
            <div class="col last-price-col">432,00€</div>
        </div>
        <div class="row frm-club">
            <div class="col text-right">(Has ahorrado 25,00€ por ser del Club Express)</div>
        </div>
        <div class="line-row"></div>
        <div class="row frm-card pr-2 mr-1">

            <div class="col-12 last-col">Precio final, incluye tarifa aérea, tasas, gastos de gestión y cargos del
                operador</div>
        </div>
    </div>
    <!-- FIN TOTAL -->

</div>
<!-- FIN TU COMPRA -->