@import '../../../assets/scss/var.scss';

section {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
    cursor: pointer;
    @media (max-width: $desktop-s) {
        display: none;
    }
    .ancillarie-container {
        position: relative;
        width: 100%;
        height: 250px;
        margin-right: 15px;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 20px;
        @media (max-width: $desktop) {
            height: 220px;         
        }
        @media (max-width: $desktop-s) {
            height: 170px;         
        }
        .ancillarie-image {
            background-size: cover;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: top right;
            background-repeat: no-repeat;
        }
    
        &:nth-child(1) {
            margin-left: 10px;
        }
        &:nth-child(3) {
            margin-right: 10px;
        }
        
        @media (max-width: $tablet) {
            flex-basis: 100%;
        }
    }
    
    
    //Modificar urls en producción
    div[ancillaries="ceo"] {
        .ancillarie-image {
            background-image: url(../../../assets/img/desktop-ceo.jpg);
        }
    }
    div[ancillaries="activities"] {
        .ancillarie-image {
            background-image: url(../../../assets/img/activities.jpg);
        }
    }
    div[ancillaries="coches"] {
        .ancillarie-image {
            background-image: url(../../../assets/img/coches.jpg);
        }
    }
    div[ancillaries="seat"] {
        .ancillarie-image {
            background-image: url(../../../assets/img/seats-module.jpg);
        }
    }
    div[ancillaries="suitcase"] {
        .ancillarie-image {
            background-image: url(../../../assets/img/suitcase-module.jpg);
        }
    }
    div[ancillaries="priority"] {
        .ancillarie-image {
            background-image: url(../../../assets/img/priority-module.jpg);
        }
    }
    @media (max-width: $tablet) {
        display: none;
    }
}