<section class="container py-2">
    <pay-section-title title="Check-In Online" location="interior"></pay-section-title>

    <div class="row">
        <div class="col">
            Consigue tu tarjeta de embarque haciendo <a href="#">check-in online</a> desde el día anterior y hasta 2 horas antes de la salida programada del vuelo y podrás ir directamente a la puerta de embarque.
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <button class="btn-primario form-control col text-uppercase">Para más información accede a gestionar tu reserva</button>
        </div>
    </div>
</section> 